.content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
}

.instrument-details {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.instrument-info {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.instrument-symbol {
    font-size: 2rem;
}

.instrument-price {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.instrument-price__number {
    font-size: 2rem;
}

.instrument-price__currency {
    align-self: end;
    padding-bottom: 4px;
}

.notifications {
    display: flex;
    flex-direction: column;
    min-width: 60rem;
}

.notification-containers {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: silver 2px 2px 5px;
}

.notification-container {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 1rem;
}

.notification_container__unit {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddada;
}

.create-notification {
    display: flex;
    flex-direction: row;
}

.notification-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.labels-container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}

.labels-container__label-short {
    flex-grow: 1;
    flex-basis: 0;
}

.labels-container__label-middle {
    flex-grow: 3;
    flex-basis: 0;
}

.labels-container__label-long {
    flex-grow: 4;
    flex-basis: 0;
}

.fields-container {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: silver 2px 2px 5px;
    flex-grow: 1;
    display: flex;
    column-gap: 1rem;
}

.fields-container__unit {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 2rem;
    height: 3rem;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
}
